<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0c03dc85-4c79-4173-87b5-ab33f03ef3c9/resourceGroups/MaximillianTimofte30244/providers/Microsoft.Web/sites/WEBapi20230110085904</ResourceId>
    <ResourceGroup>MaximillianTimofte30244</ResourceGroup>
    <ApiResourceId>/subscriptions/0c03dc85-4c79-4173-87b5-ab33f03ef3c9/resourceGroups/MaximillianTimofte30244/providers/Microsoft.ApiManagement/service/WEBapi/apis/WEBapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20230110085904.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1bf1a7b6-7769-4906-90de-04bd7514047f</ProjectGuid>
    <MSDeployServiceURL>webapi20230110085904.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WEBapi20230110085904</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WEBapi20230110085904</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>